<h1>Say hello</h1>
<p>It is now <%= @time %> </p>
<p>Time to say <%= link_to "Goodbye!", say_goodbye_path %> </p>
<p>Time in one hour <%= @hr %>
<% for file in @files %>
file name is <%= file %>  
<% end %>
